.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.field {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    font-size: 1rem;
}

.input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button.is-link {
    background-color: #3273dc;
    color: white;
}

.button.is-light {
    background-color: #797272;
    color: #fffefe;
    
}

.button:hover {
    opacity: 0.8;
}