.custom-btn {
    width: 100%;
    font-size: 16px; /* Puedes ajustar el tamaño de fuente a tu gusto */
    padding: 10px 0; /* Ajusta la altura del botón */
  }
  
  /* Espaciado consistente entre botones */
  .Counter .Controls button,
  .Counter .mt-3 button {
    margin: 5px 0; /* Se agrega un pequeño margen entre los botones */
  }
  
  /* Si necesitas ajustar el tamaño o estilo del número, puedes hacerlo */
  .Number {
    margin: 0 10px; /* Agrega margen para dar espacio entre los botones y el número */
    font-size: 20px;
  }